@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');

body { 
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #FFF5FE;
  box-sizing: content-box;
}

h1{ 
  font-size: 95px; 
  font-family: 'Poppins', sans-serif;
}

p{
  font-size: 16px;
  font-weight: normal;
}

a{
  text-decoration: none; 
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}
 
a:link {
  color: #000000;
  text-decoration: none; 
}

/** Navigation bar**/

.headerProduct{
  width: 100%;
  height: 50px;
}
.container-fluid{
  padding: 0 250px;
}
nav.navbar{
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: 1;
}
a.nav-link{
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 14px;
}
a.nav-link:hover{ 
  font-weight:bold;
}

header .form-inline .form-control{
  width: 350px;
}

/** Index - Hero Section**/
#heroSection{
  box-sizing: content-box; 
  width: 100%;
  height: 100vh;
  background-image: url(images/hero_img.jpg);
  background-position: center;
  background-size: cover;
}
.containerTitle{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  justify-content: center;
}  

.whiteRectangle{
  background-color: #fcfcfc;
  opacity: .6;
  position: absolute;
  display: none;
  top: 25%;
  left: 0;
  width: 50%;
  height: 50vh;
}

.heroSubtitle{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}
.heroParagraph{
  font-size: 18px;
}

.containerTitle > hr{
  height:3px;
  border-width:0;
  background: rgb(126,33,234);
  background: linear-gradient(288deg, rgba(126,33,234,1) 4%, rgba(226,110,32,1) 97%);
  width: 350px;
  padding:  0;
  margin: 10px 0;
}

/**Index products-Section**/
#produits{
  text-align: center;
}

#produits h2{
  font-size: 55px;
  text-align: center;
  margin-top: 60px;
}
#produits p{
  font-size: 18px;
}
#produits .row{
  margin: 0;
}
#produits .lastBloc{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 15px;
}
#produits .buttonIndex:hover{
  transform: translate(0px,-6px);
  transition: transform .5s; 
}

/**Index cards style**/
.cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 100px;
}
.card-body{
  text-align: start;
}
.card-body >.card-price{
  font-weight: bold;
  font-size: 16px;
}

.starReview{
  color: #8C61FF;
  font-size: 16px;
}
#produits img{
  width: 100%;
  height: 220px; 
  object-fit: cover;
}
.cardIndex{
  width: 20rem;
  min-width: 15rem;
}
.card{
  box-shadow: 4px 4px 10px 0 #e8daec;
}
.card-body{
  padding-bottom: 0;
}

/** Footer**/
footer{
  background-color:#221E22;
  color: #fff;
  padding: 80px 0;
}

footer > .container-fluid{
  display: flex;
  justify-content: space-between;
}

.blocFooter{
  display: flex;
  flex-direction: column;
  text-align: start;
}
.blocFooter > h3 {
  font-size: 18px;
}
.blocFooter > a {
  color: #fff;
}

footer img{
  height: 45px;
}

/****Page Product****/
.productDetail{
  display: flex;
  margin: 150px 0 100px;  
}

.productImage{
 width: 60%;
 box-shadow: 4px 4px 10px 0 #e8daec;
}  
.productImage > img{ 
  object-fit: cover; 
  height: 500px; 
  width: 100%;
  border-radius: 0.25rem;
}
.productBg{
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content:flex-start;
  width: 40%; 
  height:500px;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 10px 0 #e8daec;
}
article h1{
  font-size: 38px;
}
article .productPriceStyle{
  font-weight: 700;
  font-size: 18px;
}
select{
  width: 50%;
}
article h6{
  font-size: 18px;
}
article .quantityStyle{
  margin: 20px 0;
}
.buttonsCardProduct {  
  display: flex;
}
article .addButton{
  width: 80%;
  max-width: 350px;
  height: 45px;
}
article .cartButton{
  margin-left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 100%;  
  display: flex;
  justify-items: center;
  align-items: center;
}

.fa-shopping-cart {
  color: #fff;
}
.alertProduct{
  margin-left: 10px;
  font-size: 14px;
  color: #39A388;
}
.alertProductmissing{
  margin-top: 50px;
}
/****Page Cart****/

.titleCart{
  color: #000000;
  font-size: 35px;
  margin-top: 80px;
  font-weight:500;
}
.gradientLine{
  height:3px;
  border-width:0;
  background: rgb(126,33,234);
  background: linear-gradient(288deg, rgba(126,33,234,1) 4%, rgba(226,110,32,1) 97%);
  width: 185px;
  padding: 0;
  margin: 20px 0;
}
.tableTitle{
  font-weight: 800;
  text-align: center;
}
.text-muted{
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.nameColumn{
  width: 50%;
}
.priceColumn{
  width: 20%;
}
.deleteColumn{
  width: 10%;
}
.fa-trash{
  color: rgb(126,33,234);
}
.fa-trash:hover{
  color: rgb(97, 17, 189);
  transform: scale(1.2);
}

#formContact button{
  width: 70%;
  margin: 40px 0;
}

tbody .linkEmptyCart{
  color: #6d44df;
  font-size: 16px;
}

/* Page confirmation */
.validationAlert{
  margin: 150px 0 100px;
}
.validationNumber{
  font-weight: bold;
}
.btnContinuer{
  font-size: 16px;
  margin-top: 40px;
  color: #6d44df;
}
.btnContinuer:hover{
  font-weight: 900;
  color: #5837b4;
}

form label{
  margin: 0;
}

/***Media queries***/

@media screen and  (max-width: 1200px){
  .container-fluid{
    padding: 0 50px;
  }
  .containerTitle{    
    width: 100%;    
  }  
  .whiteRectangle{
    display: block;
    width: 100%;
  }
  .productImage, .productBg {
    width: 50%;
   } 
}

@media screen and  (max-width: 1080px){
  .productDetail{
    flex-direction: column;
  }
  .productImage, .productBg {
    width: 100%;
   }    
}


@media screen and (max-width: 768px){
  .container-fluid{
    padding: 0 30px;
  }
  nav.navbar{
    padding: 0 30px;
  }
  .containerTitle {
    align-items: center;
    padding: 0;
  }
  h1{
    font-size: 75px;
  }
  .cardContainer{
    margin: 20px 0 70px;
  }
  .heroSubtitle{
    font-size: 25px;
  } 
  
  .containerTitle > hr{
    width: 300px;
  }
  footer .container-fluid{
    flex-wrap: wrap;
  }
  
  .firstBlocFooter{
    width: 100%;
    margin-bottom: 40px;
  }
  .productDetail{
    margin: 90px 0 30px;
  }  
}
@media screen and (max-width: 480px){
  .container-fluid{
    padding: 0 10px;
    margin: 0;
  }
  #produits h2{
    font-size: 45px;
  }
  footer > .container-fluid{
    flex-direction: column;
  }
  .containerTitle > hr{   
    width: 250px;
  }
  .cardContainer{
    margin: 20px 0;
  }
  .blocFooter{
    margin-bottom: 20px;
  }
  header .form-inline .form-control{
    width: 250px;
  }
  
   .productImage > img{
     height: 280px; 
     
   }
   .productDetail{
    margin: 70px 0 20px;
  }
  
}



